<div class="container">
  <div class="row justify-content-center">

      <div class="col-md-4">
          <div class="card shadow" style="width: 20rem;">
              <div class="inner">
                  <img src={{match1.imagePath}} class="card-img-top" alt="...">
              </div>
              <div class="card-body text-center">
                <h5 class="card-title">{{match1.matchTitle}}</h5>
                <p class="card-text">{{match1.time}}</p>
                <button class="btn btn-lg btn-outline-primary" (click)="openFormModalFirst()">{{match1.teamName1}}</button> 
                <button class="btn btn-lg btn-outline-primary" (click)="openFormModalFirst()">{{match1.teamName2}}</button> 
                <!-- <button class="btn btn-lg btn-outline-primary" (click)="openFormModalFirst()">Predict</button> -->
              </div>
            </div>
      </div>

      <div class="col-md-4">
          <div class="card shadow" style="width: 20rem;">
              <div class="inner">
                  <img src={{match2.imagePath}} class="card-img-top" alt="...">
              </div>
              <div class="card-body text-center">
                <h5 class="card-title">{{match2.matchTitle}}</h5>
                <p class="card-text">{{match2.time}}</p>
                <button class="btn btn-lg btn-outline-primary" (click)="openFormModalFirst()">{{match2.teamName1}}</button> 
                <button class="btn btn-lg btn-outline-primary" (click)="openFormModalFirst()">{{match2.teamName2}}</button> 
                <!-- <button class="btn btn-lg btn-outline-primary" (click)="openFormModalSecond()">Predict</button> -->
              </div>
            </div>
      </div>
      <div class="col-md-4">
          <div class="card shadow" style="width: 20rem;">
              <div class="inner">
                  <img src={{match3.imagePath}} class="card-img-top" alt="...">
              </div>
              <div class="card-body text-center">
                <h5 class="card-title">{{match3.matchTitle}}</h5>
                <p class="card-text">{{match3.time}}</p>
                <button class="btn btn-lg btn-outline-primary" (click)="openFormModalFirst()">{{match3.teamName1}}</button> 
                <button class="btn btn-lg btn-outline-primary" (click)="openFormModalFirst()">{{match3.teamName2}}</button> 
                <!-- <button class="btn btn-lg btn-outline-primary" (click)="openFormModalThird()">Predict</button> -->
              </div>
            </div>
      </div>
  </div>
</div>