<div class="container" width="100%" style="width: 100%; height: max-content;">
  <div class="row justify-content-center">

    <ngb-tabset type="pills">
      <ngb-tab>
        <ng-template ngbTabTitle><b>Paid Leaderboard</b></ng-template>
        <ng-template ngbTabContent>
            <div>
                <form [formGroup]="myForm" (ngSubmit)="submitForm()">
                    <div class="form-group">
                        <label for="match">Team: </label>
                        <div class="input-group">
                          <select data-placeholder="Select Match" class="form-control chosen-select" style="width:350px;" 
                                    tabindex="2" formControlName="match" (change)="onChange($event)">
                            <option [ngValue]="null" disabled>Choose Match</option>
                            <option *ngFor="let match of matches" [value]="match.matchId">{{ match.matchTitle }}</option>
                          </select>
                        </div>
                    </div>
                </form>

                <table class="table table-striped table-hover table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Email Id</th>
                        <th scope="col">Team</th>
                        <th scope="col">Best Batsmen</th>
                        <th scope="col">Best Bowler</th>
                        <th scope="col">Man Of The Match</th>
                        <th scope="col">Points</th>
                        <th scope="col">Bet</th>
                        <th scope="col">Winnings</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor= "let item of userPrediction;let indexOfelement=index;">
                            <td>{{indexOfelement+1}}</td>
                            <td>{{ item.emailId }}</td>
                            <td>{{ item.winner }}</td>
                            <td>{{ item.bestBatsmen }}</td>
                            <td>{{ item.bestBowler }}</td>
                            <td>{{ item.manOfTheMatch }}</td>
                            <td>{{ item.points }}</td>
                            <td>{{ item.bet }}</td>
                            <td>{{ item.winnings }}</td>
                        </tr>
                      </tbody>
                  </table>
            </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>