<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-4">
            <div class="card shadow" style="width: 20rem;">
                <div class="inner">
                    <img src="../assets/img/CSK_MI.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">Match-1</h5>
                  <p class="card-text">CSK VS MI.</p>
                  <!-- <a style="width:auto;" class="btn btn-primary">Predict</a> -->
                  <button class="btn btn-lg btn-outline-primary" (click)="openFormModalFirst()">Predict</button>
                </div>
              </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow" style="width: 20rem;">
                <div class="inner">
                    <img src="../assets/img/DD_RR.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">Match-2</h5>
                  <p class="card-text">DD VS RR</p>
                  <button class="btn btn-lg btn-outline-primary" (click)="openFormModalSecond()">Predict</button>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow" style="width: 20rem;">
                <div class="inner">
                    <img src="../assets/img/SRH_KKR.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">Match-3</h5>
                  <p class="card-text">SRH VS KKR.</p>
                  <button class="btn btn-lg btn-outline-primary" (click)="openFormModalThird()">Predict</button>
                </div>
              </div>
        </div>
    </div>
</div>