<div class="container">
  <ngb-alert *ngIf="successMessage" type="danger" (close)="successMessage = ''">{{ successMessage }}</ngb-alert>
    <div class="row justify-content-center">

        <div class="col-md-4">
            <div class="card shadow" style="width: 20rem;">
                <div class="inner">
                    <img src={{match1.imagePath}} class="card-img-top" alt="...">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">{{match1.matchTitle}}</h5>
                  <p class="card-text">{{match1.time}}</p>
                  <!-- <a style="width:auto;" class="btn btn-primary">Predict</a> -->
                  
                  <button class="btn btn-outline-primary mr-3" (click)="open('freeLeague', '0')">Join For Free</button>
                  <button class="btn btn-outline-primary" (click)="open('paidLeague', '0')">Join For Rs.100</button>
                </div>
              </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow" style="width: 20rem;">
                <div class="inner">
                    <img src={{match2.imagePath}} class="card-img-top" alt="...">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">{{match2.matchTitle}}</h5>
                  <p class="card-text">{{match2.time}}</p>
                  <button class="btn btn-outline-primary mr-3" (click)="open('freeLeague', '1')">Join For Free</button>
                  <button class="btn btn-outline-primary" (click)="open('paidLeague', '1')">Join For Rs.100</button>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow" style="width: 20rem;">
                <div class="inner">
                    <img src={{match3.imagePath}} class="card-img-top" alt="...">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">{{match3.matchTitle}}</h5>
                  <p class="card-text">{{match3.time}}</p>
                  <button class="btn btn-outline-primary mr-3" (click)="open('freeLeague', '2')">Join For Free</button>
                  <button class="btn btn-outline-primary" (click)="open('paidLeague', '2')">Join For Rs.100</button>
                  <!-- <button class="btn btn-outline-primary mr-3" (click)="openFormModalThird()">Join For Free</button>
                  <button class="btn btn-outline-primary" (click)="openFormModalThird()">Join For Rs.100</button> -->
                </div>
              </div>
        </div>
    </div>
</div>