<div class="page-container">
    <div class="sidebar">
        
        <div class="list-items">
            <a routerLink="/home" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}" class="list-item">
                <i class="material-icons">sports_cricket</i>
                Home
            </a>
            <a routerLink="/home/predict" routerLinkActive="selected" class="list-item">
                <i class="material-icons">sports_cricket</i>
                Predict
            </a>
            <a routerLink="/home/privateLeague" routerLinkActive="selected" class="list-item">
                <i class="material-icons">sports_cricket</i>
                Paid Leaderboard
            </a>
            <a routerLink="/home/leaderboard" routerLinkActive="selected" class="list-item">
                <i class="material-icons">sports_cricket</i>
                Leaderboard
            </a>
            <a routerLink="/home/rules" routerLinkActive="selected" class="list-item">
                <i class="material-icons">sports_cricket</i>
                Rules
            </a>
            <a routerLink="/home/wallet" routerLinkActive="selected" class="list-item">
                <i class="material-icons">account_balance_wallet</i>
                Wallet
            </a>
            <a routerLink="/logout" routerLinkActive="selected" class="list-item">
                <i class="material-icons">exit_to_app</i>
                Logout
            </a>
        </div>

    </div>

    <div class="page-content-container">
        <router-outlet></router-outlet>
    </div>

</div>